@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oswald:wght@500&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	overflow: hidden;
	display: flex;
	position: relative;
	height: 100dvh;
	width: 100vw;
	background-color: #1a1a1a;
	color: #ffffffdd;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

@keyframes loader {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 4px;
	background-color: aqua;
	z-index: 100;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.loader::after {
	content: " ";
	display: block;
	height: 100%;
	background-color: yellow;
	animation-name: loader;
	animation-duration: 8.1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

header {
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	width: 100dvw;
	padding: 20px;
	font-size: 0.8em;
}

svg {
	width: 20px;
}

header > div {
	display: flex;
	gap: 5px;
	align-items: center;
}

header nav ul {
	justify-content: space-between;
	width: 100%;
	gap: 20px;
	display: flex;
	align-items: center;
}

header nav ul li {
	display: flex;
	overflow: visible;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	list-style: none;
}

header nav li:hover {
	opacity: 0.8;
}

header nav ul li::after {
	border-radius: 10px;
	opacity: 0;
	transition: opacity 0.4s 0.1s;
	position: absolute;
	bottom: -10px;
	background-color: rgb(242, 255, 0);
	content: " ";
	display: block;
	height: 5px;
	width: 120%;
	z-index: 100;
}

header nav ul li:hover::after {
	opacity: 1;
}

header nav ul li.active::after {
	opacity: 1;
}

.wrapper {
	width: 100%;
	gap: 8px;
	display: flex;
	height: 100dvh;
	overflow: hidden;
}

.card {
	transition: translate 0.8s ease-in-out, width 0.5s ease-in-out,
		height 0.5s ease-in-out, top 0.5s ease-in-out, left 0.8s ease-in-out,
		z-index 0s 0.25s;
	height: 40%;
	width: 200px;
	top: 45%;
	left: 50%;
	border-radius: 10px;
	position: absolute;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.card.active {
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100vh;
	border-radius: 0px;
	aspect-ratio: none;
}

.card.active .content {
	opacity: 0;
}

.first {
	translate: 0px 0px;
}

.second {
	translate: 205px 0px;
}

.third {
	translate: 410px 0px;
}

.fourth {
	translate: 615px 0px;
}

.fiveth {
	translate: 820px 0px;
}

.sixth {
	z-index: 2;
	translate: 1025px 0px;
}

.card-1 {
	background-image: url(assets/timed-cards-1.jpg);
	background-color: aqua;
}

.card-2 {
	background-color: rgb(255, 82, 82);
	background-image: url(assets/timed-cards-2.jpg);
}

.card-3 {
	background-color: rgb(55, 136, 228);
	background-image: url(assets/timed-cards-3.jpg);
}

.card-4 {
	background-color: rgb(152, 255, 84);
	background-image: url(assets/timed-cards-4.jpg);
}

.card-5 {
	background-color: pink;
	background-image: url(assets/timed-cards-5.jpg);
}
.card-6 {
	background-color: pink;
	background-image: url(assets/timed-cards-6.jpg);
}

.card .content {
	display: flex;
	gap: 3px;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 15px;
	transition: opacity 0.2s ease-in-out;
	opacity: 1;
}

.card .content .location {
	font-size: 0.8em;
	font-weight: 600;
}

.card .content .location::before {
	display: block;
	content: " ";
	width: 35px;
	height: 6px;
	margin-bottom: 10px;
	border-radius: 334px;
	background-color: white;
}

.card .content .title {
	font-size: 1.2em;
	font-weight: bolder;
}

.content-details .location::before {
	content: " ";
	display: block;
	width: 70px;
	border-radius: 20px;
	height: 5px;
	margin-bottom: 7px;
	background-color: white;
}

.content-details .title {
	font-size: 4em;
	font-weight: 900;
}

.content-details {
	position: fixed;
	z-index: 100;
	left: 4%;
	bottom: 15%;
	width: 450px;
	transition: opacity 0.6s ease-in-out;
	opacity: 1;
}

.content-details.animate {
	opacity: 0;
}

.status {
	position: fixed;
	bottom: 2%;
	right: 10%;
	height: 50px;
	width: 50%;
	z-index: 100;
	display: flex;
	align-items: center;
	gap: 15px;
}

.counter {
	color: white;
	font-size: 3em;
}

.status > div {
	width: 100%;
	height: 10px;
	border-radius: 20px;
	background-color: rgb(110, 110, 110);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.status > div .progress {
	background-color: yellow;
	height: 100%;
	border-radius: 200px;
	transition: width 1s ease-in-out;
}

@media screen and (max-width: 900px) {
	.card {
		height: 40%;
		width: 200px;
		top: 12%;
		left: 25%;
	}
}

@media screen and (max-width: 700px) {
	header nav {
		width: 100%;
	}

	header nav li:nth-of-type(2) {
		display: none;
	}

	header nav li:nth-of-type(3) {
		display: none;
	}

	header nav ul li::after {
		height: 4px;
	}

	header > div {
		display: none;
		gap: 5px;
		align-items: center;
	}

	.card {
		top: 15%;
	}

	.card .content {
		padding: 12px;
	}

	.card .content .location {
		font-size: 0.8em;
	}

	.card .content .location::before {
		height: 4px;
		margin-bottom: 5px;
	}

	.card .content .title {
		font-size: 0.9em;
	}

	.content-details .title {
		font-size: 2.5em;
		margin: 5px 0px;
		width: 60%;
	}

	.status {
		width: 80%;
	}
}

@media screen and (max-width: 500px) {
	.card {
		top: 15%;
		left: -10%;
	}

	.content-details .description {
		font-size: 0.8em;
		width: 70%;
		text-align: left;
		margin-left: 0px;
	}
	.content-details {
		margin-left: 5px;
	}

	.content-details .title {
		font-size: 1.5em;
	}

	.status > div {
		background-color: rgba(252, 252, 252, 0.404);
	}

	.status > div .progress {
		background-color: yellow;
		height: 100%;
		border-radius: 200px;
		transition: width 1s ease-in-out;
	}
}

@media screen and (min-width: 1900px) {
	.card {
		left: 50%;
		width: 480px;
	}

	.first {
		translate: -100px 0px;
	}

	.second {
		translate: 465px 0px;
	}

	.third {
		translate: 980px 0px;
	}

	.fourth {
		translate: 1520px 0px;
	}

	.fiveth {
		translate: 2050px 0px;
	}

	.sixth {
		z-index: 2;
		translate: 2775px 0px;
	}
}
